body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    background-color: #FCF9F8; /* Previous color #F1EFE4 */
}
h1 {
    font-family: "Merriweather", serif;
    font-size: 1.8rem;
    color: white;
    background-color: #789181; /* Previous color #90B19B */
    text-align: center;
    padding:5px;
}
h2 {
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
}
h3 {
    font-family: "Merriweather", serif;
    font-size: 1.3rem;
}
.text-regular {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}
.text-large {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
a {
    color:#D15BAD;
    text-decoration: none;
    transition-duration: .4s;
}
a:hover {
    color: #3B4A7A;
    transform: scale(1.1);
}
.logo-link {
    transition-duration:unset;
}
.logo-link:hover {
    transform:none;
}
.fa-brands {
    color: #fff;
    padding:5px;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
#home .logo {
    width: 100px;
    margin: 10px;
}
.logo {
    width: 100px;
}
.logo-white {
    width: 100px;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #789181;
    --bs-btn-border-color: #789181;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #90B19B;
    --bs-btn-hover-border-color: #90B19B;
    --bs-btn-active-color: #789181;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #90B19B;
    --bs-btn-disabled-color: #789181;
    --bs-btn-disabled-bg: #90B19B;
    --bs-btn-disabled-border-color: #90B19B;
    border-radius: var(--bs-border-radius-pill) !important;
    padding: 0.4rem 1.5rem;
    transition-duration: .4s;
}
.btn-primary:hover {
  transform: scale(1.1);
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D15BAD;
    --bs-btn-border-color: #D15BAD;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #3B4A7A;
    --bs-btn-hover-border-color: #3B4A7A;
    --bs-btn-active-color: #3B4A7A;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #3B4A7A;
    --bs-btn-disabled-color: #3B4A7A;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #3B4A7A;
    border-radius: var(--bs-border-radius-pill) !important;
    padding: 0.4rem 1.5rem;
    transition-duration: .4s;
}
.btn-secondary:hover {
  transform: scale(1.1);
}
.mint-bg {
    background-color: #A8DADC;
}
.iris-bg {
    background-color: #3B4A7A;
}
.mail {
  color: #fff;
  transition: letter-spacing 0.3s;
}
.mail:hover {
  letter-spacing: 0.05em;
  color: #A8DADC;
}
.icon {
  transition-duration: .4s;
}
.icon:hover {
  transform: scale(1.1);
}
/* home */
#home h1 {
    color: black;
    background-color: transparent;
    margin-top: 160pt;
}
#hero {
    background-image: url(../images/seams_creative_hero.jpg);
    background-size: auto 250px;
    background-position: top right;
    margin-top: 40px;
    background-color: #FCF9F8;
    background-repeat: no-repeat;
    min-height: 250px;
}
#home .card {
    --bs-card-bg: none;
    --bs-card-border-width: 0;
    --bs-card-spacer-y: 0rem;
    --bs-card-spacer-x: 0rem;
    --bs-card-title-spacer-y: 1rem;
}
#home .card-img, #home .card-img-top {
    border-radius: 10pt;
    max-width: 426px;
    margin: auto;
}
#home video {
    border-radius: 10pt;
    max-width: 230px;
}
#home section h2::before, #home section h3::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
}
#home section:nth-of-type(2) h2::before{
    background-image: url(../images/mesure-icon.svg);
}
#home section:nth-of-type(3) h2::before{
    background-image: url(../images/sewing-machine-icon.svg);
}
#home section:nth-of-type(4) h3::before{
    background-image: url(../images/needle-icon.svg);
}
.animation-base {
      opacity: 0;
      transform: translateY(30px); 
      animation: fadeSlideUp 1.5s ease-out forwards;
}
.delay-1 {
      animation-delay: 0.5s;
}
.delay-2 {
      animation-delay: 1s;
}
.delay-3 {
      animation-delay: 1.5s;
}
.delay-4 {
      animation-delay: 2s;
}
@keyframes fadeSlideUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
}
/* Responsive */
@media (min-width: 576px) {
    #home .logo { 
        width: 150px;
        }
}
@media (min-width: 768px) {
    #home h1 { 
        margin-top: 270px;
        }
    h1 {
        font-size: 2.1rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    #hero {
        background-size: auto 300px;
        min-height: 300px;
    }
}
@media (min-width: 992px) { 
    #home h1 { 
        margin-top: 0;
        } 
    #hero {
        background-size: auto 350px;
        min-height: 350px;
    }
}