body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    background-color: #FCF9F8; /* Previous color #F1EFE4 */
}
h1 {
    font-family: "Merriweather", serif;
    font-size: 1.8rem;
    color: white;
    background-color: #789181; /* Previous color #90B19B */
    text-align: center;
    padding:5px;
}
h2 {
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
}
h3 {
    font-family: "Merriweather", serif;
    font-size: 1.3rem;
}
.text-small {
    font-size: 0.9rem;
}
.text-large {
    font-size: 1.2rem;
}
a {
    color:#D15BAD;
    text-decoration: none;
    transition-duration: .4s;
}
a:hover {
    color: #3B4A7A;
    transform: scale(1.1);
}
.logo-link {
    transition: none;
}
.logo-link:hover {
    transform: none;
}
.fa-brands {
    color: #fff;
    padding:5px;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
#home .logo {
    width: 100px;
    margin: 10px;
}
.logo, .logo-white {
    width: 100px;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #789181;
    --bs-btn-border-color: #789181;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #90B19B;
    --bs-btn-hover-border-color: #90B19B;
    --bs-btn-active-color: #789181;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #90B19B;
    --bs-btn-disabled-color: #789181;
    --bs-btn-disabled-bg: #90B19B;
    --bs-btn-disabled-border-color: #90B19B;
    border-radius: var(--bs-border-radius-pill) !important;
    padding: 0.4rem 1.5rem;
    transition-duration: .4s;
}
.btn-primary:hover {
  transform: scale(1.1);
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D15BAD;
    --bs-btn-border-color: #D15BAD;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #3B4A7A;
    --bs-btn-hover-border-color: #3B4A7A;
    --bs-btn-active-color: #3B4A7A;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #3B4A7A;
    --bs-btn-disabled-color: #3B4A7A;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #3B4A7A;
    border-radius: var(--bs-border-radius-pill) !important;
    padding: 0.4rem 1.5rem;
    transition-duration: .4s;
}
.btn-secondary:hover {
  transform: scale(1.1);
}
.mint-bg {
    background-color: #A8DADC;
}
.iris-bg {
    background-color: #3B4A7A;
}
.mail {
  color: #fff;
  transition: letter-spacing 0.3s;
}
.mail:hover {
  letter-spacing: 0.05em;
  color: #A8DADC;
}
.icon {
  transition-duration: .4s;
}
.icon:hover {
  transform: scale(1.1);
}
/* home */
#home h1 {
    color: black;
    background-color: transparent;
    margin-top: 160pt;
}
#hero {
    background-image: url(../images/seams_creative_hero.jpg);
    background-size: auto 250px;
    background-position: top right;
    margin-top: 40px;
    background-color: #FCF9F8;
    background-repeat: no-repeat;
    min-height: 250px;
}
#home .card {
    --bs-card-bg: none;
    --bs-card-border-width: 0;
    --bs-card-spacer-y: 0rem;
    --bs-card-spacer-x: 0rem;
    --bs-card-title-spacer-y: 1rem;
}
#home .card-img, #home .card-img-top {
    border-radius: 10pt;
    max-width: 426px;
    margin: auto;
}
#home video {
    border-radius: 10pt;
    max-width: 230px;
}
.measure-icon::before, .sewing-machine-icon::before, .needle-icon::before, .mailbox-icon::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
}
.measure-icon::before{
    background-image: url(../images/measure-icon.svg);
}
.sewing-machine-icon::before{
    background-image: url(../images/sewing-machine-icon.svg);
}
.needle-icon::before{
    background-image: url(../images/needle-icon.svg);
}
.animation-base {
      opacity: 0;
      transform: translateY(30px); 
      animation: fadeSlideUp 1.5s ease-out forwards;
}
.delay-1 {
      animation-delay: 0.5s;
}
.delay-2 {
      animation-delay: 1s;
}
.delay-3 {
      animation-delay: 1.5s;
}
.delay-4 {
      animation-delay: 2s;
}
@keyframes fadeSlideUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
}
/* Contact Us */
.mailbox-icon::before {
    background-image: url(../images/mailbox-icon.svg);
}
.req::before {
    content: "Required";
    font-size: 0.9rem;
    padding: 2pt 5pt;
    margin-right: 10px;
    border-radius: 5pt;
    border: none; 
    background-color:#E2725B;
    color: #fff;
    vertical-align:middle;
}
.opt::before {
    content: "Optional";
    font-size: 0.9rem;
    padding: 2pt 5pt;
    margin-right: 10px;
    border-radius: 5pt;
    border: none; 
    background-color:#B0B0B0;
    color: #fff;
    vertical-align:middle;
}
#contactus input, #contactus textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
}
#contactus input:focus,textarea:focus { 
    outline: none;
}
#contactus label {
    margin-left: 10px;
}
#contactus input[type=radio], input[type=checkbox]{ 
    display: none;
}
#contactus .form-control {
    border-bottom: 1px solid #ccc;
    box-shadow: -2000px 5px 0px #ccc;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
#contactus .form-control:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0px 5px 0px #90B19B;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.mask {
    overflow:hidden;
    padding: 0 30px 10px 0;
}
.radio-button input + label:before{
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border:1px solid #CCC;
    border-radius: 100px;
    box-shadow: 5px 0px 0px #CCC;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.radio-button input:checked + label:before{
    border-radius: 100px;
    box-shadow: -5px 0px 0px #90B19B;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
#contactus .form-check, select {
    padding-left: 0;
    padding-right: 10px;
}
#contactus input[type=checkbox] + label {
    font-size: 0.8rem;
    margin-right: 10px;
    padding: 5px;
    border-radius: 0px;
    border:1px solid #ccc;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
/* .list-group-item {
  position: relative;
  padding-left: 2.5rem; 
  cursor: pointer;
}

.list-group-item input[type="checkbox"] {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.list-group-item label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 0;
} */
#contactus input[type=checkbox]:checked + label {
    /* color: #fff; */
    border-radius: 10px;
    border:1px solid rgba(144,177,155,0.45);
    background-color: rgba(144,177,155,0.45);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.list-box .form-check-input:checked~label {
    font-weight:500;
    background-color: #B0B0B0;;
    width: 100%;
    color:#fff
}
iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}
/* Responsive */
@media (min-width: 576px) {
    #home .logo { 
        width: 150px;
        }
}

@media (min-width: 768px) {
    #home h1 { 
        margin-top: 270px;
        }
    h1 {
        font-size: 2.1rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    #hero {
        background-size: auto 300px;
        min-height: 300px;
    }
}
   
@media (min-width: 992px) { 
    #home h1 { 
        margin-top: 0;
        } 
    #hero {
        background-size: auto 350px;
        min-height: 350px;
    }
}